* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

main {
    display: grid;
    grid-template-areas: "section-a section-b";
    grid-template-columns: 40% 60%;
    overflow: hidden; 
    height: 100vh;
}

.section-a {
    background-color: #219653;
    grid-area: section-a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-b {
    background-color: blanchedalmond;
    grid-area: section-b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-title {
    font-weight: 300;
    margin-top: -10rem;
    margin-bottom: 5rem;
}

.lead {
    color:rgb(177, 194, 177);
    line-height: 1.3;
    word-spacing: 0.4rem;
}

.lead-pro {
    margin-bottom: 0.5rem;
}

.sign-up {
    text-decoration: none;
    color: white;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-top: 3rem;
    padding: 1rem 1.9rem;
    transition: all 0.4s;
}

.sign-up:hover {
    background-color: #e0e0e0;
    color: #219653;
}
