* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto;
 
}
main{
	display: grid;
	grid-template-areas: "section-a section-b";
	grid-template-columns: 40% 60%;
	height: 100vh;
}
.section-a{
	background-color: blue;
	grid-area: section-a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.left-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.left-title{
	font-weight: 300;
	margin-top: -10rem;
	margin-bottom: 20px;
	color: white;
}
.together{
	color: white;
	font-size: 17px;
}
.sign{
	text-decoration: none;
	color: white;
	background: blue;
	padding: 15px 30px 15px 30px;
}
.sign:hover{
	background-color: lightgreen;
	color: white;
	text-decoration: none;
}
.containertwo{
	width: 70%;
	height: 700px;	
	float: right;
	padding-top: 50px;
	text-align: center;
    padding-left: 100px;

}
.input{
	width: 317px;
	height: 67px;
	padding: 15px;
	margin-top: 6px;
	margin-bottom: 25px;
	background-color: white;
	border: none;
	color: black;
}
.sub{
	margin: 19px;
	color: #c4c4c4;
}
.head{
	font-size: 24px;
	color: blue;
}
.submit{
	text-decoration: none;
	color: white;
	border: 1px solid #e0e0e0;
	padding:12px 30px 12px 30px;
	transition:all 0.4s;
}
.submit:hover{
	color: white;
	text-decoration: none;
	background-color: lightgreen;
}
.user{
	padding-top: 30px;	
}
.create{
	margin-top: -10px;
}
.log{
	text-decoration: none;
	color: white;

}
.log:hover{
	color: white;
	text-decoration: none;
}
.fill{
	width: 317px;
	height: 67px;
	padding: 15px;
	margin-top: 6px;
	margin-bottom: 25px;
	background-color: #c4c4c4;
	border: none;
	color: black;
}
.mem{
	padding-top: 20px;
}
.below{
	color: blue;
}
.below:hover{
	text-decoration: none;
	color: green;
}

